<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated sql_abstracts -->
      <package
            uri="http://sql_abstracts"
            class="sql_abstracts.Sql_abstractsPackage"/>
   </extension>

</plugin>
