<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated sql_abstracts -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="sql_abstracts.presentation.Sql_abstractsModelWizardID"
            name="%_UI_Sql_abstractsModelWizard_label"
            class="sql_abstracts.presentation.Sql_abstractsModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Sql_abstractsModelFile.gif">
         <description>%_UI_Sql_abstractsModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated sql_abstracts -->
      <editor
            id="sql_abstracts.presentation.Sql_abstractsEditorID"
            name="%_UI_Sql_abstractsEditor_label"
            icon="icons/full/obj16/Sql_abstractsModelFile.gif"
            extensions="sql_abstracts"
            class="sql_abstracts.presentation.Sql_abstractsEditor"
            contributorClass="sql_abstracts.presentation.Sql_abstractsActionBarContributor">
      </editor>
   </extension>

</plugin>
